@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700&display=swap');

:root {
  --gray-01: #D6D6F2;
  --gray-02: #E2E2F5;
  --purple: #BF7BFB;
  --blue-light: #212187;
  --blue: #151557;
  --blue-dark: #000013;
}

body {
  background: url(./assets/error-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 40px;
  line-height: 120%;
  font-weight: 700;
  color: var(--gray-01, #D6D6F2);
}

p {
  font-size: 20px;
  line-height: 140%;
  font-weight: 300;
  color: var(--gray-01, #D6D6F2);
}

button {
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  color: var(--gray-02, #E2E2F5);
}
